<div class="container">
  <div class="row">
    <ng-container *ngFor="let producto of productoService.producto">
      <div class="card col-md-3">
        <img src="{{producto.imgUrl}}" alt="">
        <h5 style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;max-width: 100ch">{{producto.nombre}}</h5>
        <p style="white-space: nowrap; overflow: hidden;text-overflow: fade();max-width: 100ch">{{producto.descripcion}}</p>
        <p><strong>Precio: ${{producto.precio.valor}}</strong></p>
        <button class="btn btn-primary">Add to cart</button>
      </div>
    </ng-container>
  </div>
</div>
